{% extends 'base.html' %} 


{% load static %}

{% block content %}
    <!--Fin del menu-->

    <!--catalago-->
    <main class="catalago">
 
      <div class="container">
        <div class="row">
          <div class="col-md-3 p-3 degradado">
            <div class="card">
              <img src="{% static 'img/catalago/moto1.png' %}" class="card-img-top" alt="imagen del producto">
              <div class="card-body">
                <h5 class="card-title">MOTO-G-500</h5>
                <p class="card-text">300</p>
                <p class="card-text">67895 $MX</p>
              </div>
            </div>
          </div>
 
          <div class="col-md-3 p-3 degradado">
            <div class="card">
              <img src="{% static 'img/catalago/moto2.png' %}" class="card-img-top" alt="imagen del producto">
              <div class="card-body">
                <h5 class="card-title">MOTO-G-500</h5>
                <p class="card-text">350</p>
                <p class="card-text">66895 $MX</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 p-3 degradado">
            <div class="card">
              <img src="{% static 'img/catalago/moto3.png' %}" class="card-img-top" alt="imagen del producto">
              <div class="card-body">
                <h5 class="card-title">MOTO-G-500</h5>
                <p class="card-text">200</p>
                <p class="card-text">89895 $MX</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 p-3 degradado">
            <div class="card">
              <img src="{% static 'img/catalago/moto4.png' %}" class="card-img-top" alt="imagen del producto">
              <div class="card-body">
                <h5 class="card-title">MOTO-G-500</h5>
                <p class="card-text">350</p>
                <p class="card-text">67568 $MX</p>
              </div>
            </div>
          </div>


          <div class="col-md-3 p-3 degradado">
            <div class="card">
              <img src="{% static 'img/catalago/moto5.png' %}" class="card-img-top" alt="imagen del producto">
              <div class="card-body">
                <h5 class="card-title">MOTO-G-500</h5>
                <p class="card-text">320</p>
                <p class="card-text">645678 $MX</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 p-3 degradado">
            <div class="card">
              <img src="{% static 'img/catalago/moto6.png' %}" class="card-img-top" alt="imagen del producto">
              <div class="card-body">
                <h5 class="card-title">MOTO-G-500</h5>
                <p class="card-text">30o</p>
                <p class="card-text">67679 $MX</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 p-3 degradado">
            <div class="card">
              <img src="{% static 'img/catalago/moto7.png' %}" class="card-img-top" alt="imagen del producto">
              <div class="card-body">
                <h5 class="card-title">MOTO-G-500</h5>
                <p class="card-text">200</p>
                <p class="card-text">67878 $MX</p>
              </div>
            </div>
          </div>

          <div class="col-md-3 p-3 degradado">
            <div class="card">
              <img src="{% static 'img/catalago/moto8.png' %}" class="card-img-top" alt="imagen del producto">
              <div class="card-body">
                <h5 class="card-title">MOTO-G-500</h5>
                <p class="card-text">350</p>
                <p class="card-text">50895 $MX</p>
              </div>
            </div>
          </div>

        </div>
      </div>

        <div class="container">
            <div class="row">
              {% for galeria in galerias %}
              <div class="col-md-3 p-3 degradado">
                <div class="card">
                  <img src="{{galeria.imagen.url}}" class="card-img-top" alt="imagen del producto">
                  <div class="card-body">
                    <h5 class="card-title">{{galeria.titulo}}</h5>
                    <p class="card-text">{{galeria.descripcion}}</p>
                    <p class="card-text">{{galeria.precio}}&nbsp;$MX</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
        </div>
    </main>
    <!--Fin del catalago-->
    {% endblock content %}